mixin form(proyecto={})
    form(action=`${proyecto.id ? `/proyecto/editar/${proyecto.id}` : "/new"}` class="agregar-proyecto" method="POST")
        .campo
            label(for="nombre") Nombre del Proyecto:
            input(value=`${proyecto.titulo || ''}`, type="text" id="nombre", name="titulo" placeholder="Escribe el titulo...", )
        .campo.enviar
            input(type="submit", value=`${proyecto.titulo ? 'Actulizar proyecto' : 'Agregar proyecto'}`, class="boton")