<!DOCTYPE html>
html(lang="en")
    head
       include ../partials/header
    body
        include ../partials/navbar
        main.contenedor
            sidebar.contenedor-proyectos 
                .panel.crear-proyecto
                    a(href="/new" class="boton") Nuevo Proyecto
                        span +
                .panel.lista-proyectos
                    h2 Proyectos 
                    ul(class="proyectos" id="proyectos")
                        if(proyectos.length> 0)
                            for proyecto of proyectos
                                li
                                    a(href=`/proyecto/${proyecto.url}`)= proyecto.titulo
                        else
                            li 
                                a.vacio Aun no tienes proyectos
                                
            block principal
        script(src="/build/app.js")